<!DOCTYPE HTML>
<html>
  <head>
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/dist/latest/wrld.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
    <script src="https://cdn-webgl.wrld3d.com/wrldjs/addons/poi_api/latest/poi_api.js"></script>
  </head>
  
  <body>
  <div style="position: relative">
    <div id="map" style="height: 900px"></div>
    <script>
      var map = L.Wrld.map("map", "d0792614d7fa19e4dc9134d8462e5649", {
        center: [32.715736, -117.161087],
        zoom: 15
      });

      var poiApi = new WrldPoiApi("d0792614d7fa19e4dc9134d8462e5649");
      var markers = [];

      function displaySearchResults(success, results) {
          map.closePopup();
          if (success) {
              results.forEach(function(result) {
                  var marker = L.marker([result["lat"], result["lon"]], {
                     title: result["title"],
                     elevation: result["height_offset"]
                  }).addTo(map);

                  markers.push(marker);
              })
          }
          else {
              map.openPopup("POI API query failed!", map.getCenter());
          }
      }

      function searchPoisAroundClick(event) {
          markers.forEach(function(marker) { marker.remove(); });
          map.openPopup("Searching...", event.latlng);

          var callback = displaySearchResults;
          var options = { range: 500, number: 5 };
          poiApi.searchTags([], event.latlng, callback, options);
      }

      map.on("click", searchPoisAroundClick);
    </script>

  </div>
  </body>
</html>