.container-pokefile100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
  }
  .card-body {
    background-color: lightgray;
    columns: 2
  }
  .pp {
    width: 50%
  }
  #edit-profile {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-33%, -50%);
    /* opacity: .9; */
    height: fit-content
  }
  div.text-center {
    text-align: center
  }
  
  /* .Pokefile100-form-title {
    color:yellow;
    text-shadow:
    -1px -1px 0 blue,  
     1px -1px 0 blue,
     -1px 1px 0 blue,
      1px 1px 0 blue;
    
} */